<div class="col-6">
  <div class="carousel">
    <div class="text-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat, beatae
      praesentium et hic consequuntur modi soluta vero repudiandae obcaecati nihil
      cupiditate pariatur exercitationem iusto ad distinctio? Quis aperiam similique
      quidem exercitationem quam cumque quibusdam officiis sit harum, possimus corporis,
      ex reprehenderit aspernatur aliquid quo, soluta a earum. Repellendus, possimus?h
    </div>
    <div>2</div>
    <div>3</div>
  </div>
</div>
