<div class="col bg-light p-5 text-center position-relative">
  <h2 class="text-uppercase display-1" style="font-family: Moonshiner Regular">
    new merchandise
  </h2>
  <h4
    class="display-5 text-uppercase"
    style="letter-spacing: 1rem; font-family: FjallaOne Regular; color: #e23000"
  >
    summer love tour
  </h4>
  <span class="display-5 text-uppercase" style="font-family: FjallaOne Regular"
    >collection available</span
  >
  <span
    class="position-absolute text-uppercase display-3"
    style="bottom: 10px; right: 10px; font-family: Moonshiner RegularLines"
  >
    Shop now
  </span>
</div>
