<div>
  <div class="heading-2-container">
    <h2 class="heading-2">listening to</h2>
    <h2 class="heading-2-shadow">music</h2>
  </div>
  <h4 class="heading-4">put information here</h4>
  <div>
    <ul
      class="social-music-links d-flex flex-row justify-content-center align-items-center list-unstyled"
      style="gap: 10px"
    >
      <li class="social-music-link">
        <a href="!#">Apple</a>
      </li>
      <li class="social-music-link">
        <a href="!#">Youtube</a>
      </li>
      <li class="social-music-link">
        <a href="!#">Cloud</a>
      </li>
      <li class="social-music-link">
        <a href="!#">Wifi</a>
      </li>
    </ul>
  </div>
  <div class="border border-5 border-light">
    <div class="d-flex flex-row p-4" style="gap: 20px">
      <div class="w-25 h-auto">
        <div class="overflow-hidden rounded-circle" style="width: 80px; height: 80px">
          <img
            class="w-100 h-100"
            style="object-fit: cover"
            src="../../src/assets/images/piano.jpg"
            alt="Playing with piano"
          />
        </div>
      </div>
      <div class="w-100">
        <h3 class="heading-3">title of the song</h3>
        <h5 class="heading-5">Description of the song</h5>
      </div>
    </div>
    <div>
      <ul class="songs d-flex flex-column justify-content-center list-unstyled m-0">
        <li class="song current-song-active d-flex flex-row p-2">
          <div class="w-100">
            <span>1.</span>
            <span>Put song Here</span>
          </div>
          <span class="w-25 ml-auto inline-block">3:25</span>
        </li>
        <li class="song current-song-active d-flex flex-row p-2">
          <div class="w-100">
            <span>2.</span>
            <span>Put song Here</span>
          </div>
          <span class="w-25 ml-auto inline-block">3:25</span>
        </li>
        <li class="song current-song-active d-flex flex-row p-2">
          <div class="w-100">
            <span>3.</span>
            <span>Put song Here</span>
          </div>
          <span class="w-25 ml-auto inline-block">3:25</span>
        </li>
        <li class="song current-song-active d-flex flex-row p-2">
          <div class="w-100">
            <span>4.</span>
            <span>Put song Here</span>
          </div>
          <span class="w-25 ml-auto inline-block">3:25</span>
        </li>
        <li class="song current-song-active d-flex flex-row p-2">
          <div class="w-100">
            <span>5.</span>
            <span>Put song Here</span>
          </div>
          <span class="w-25 ml-auto inline-block">3:25</span>
        </li>
      </ul>
    </div>
  </div>
</div>
