<div class="container p-5">
  <div>
    <h4
      class="display-4 text-center text-uppercase"
      style="
        font-family: Moonshiner Oblique;
        color: #e23000;
        letter-spacing: 0.5rem;
        line-height: 1rem;
      "
    >
      sign up for
    </h4>
    <h2
      class="display-3 text-center text-uppercase text-white"
      style="font-family: Moonshiner RegularLines; letter-spacing: 0.3rem"
    >
      phoinix keyz updates
    </h2>
  </div>
  <div class="mt-4">
    <form>
      <div class="d-flex flex-row" style="gap: 20px">
        <input
          class="signup w-100"
          style="color: black"
          type="email"
          placeholder="enter your email here"
        />
        <button type="submit" class="signup btn bg-white w-25 text-uppercase">
          sign up now
        </button>
      </div>
    </form>
  </div>
</div>
