<div class="container py-5">
  <div class="heading-2-container">
    <h2 class="heading-2">tour</h2>
    <h2 class="heading-2-shadow" style="top: -30px">tour</h2>
  </div>
  <div class="tour py-5" style="gap: 30px">
    <div class="d-flex flex-row justify-content-between" style="gap: 10px">
      <div class="tour-info d-flex flex-column justify-content-between">
        <div>
          <h4 class="heading-4 text-left">summer love tour 2019</h4>
          <h4 class="heading-4 text-left">february 20, 2019</h4>
        </div>
        <div>
          <h5 class="heading-6">st.andrew's hall</h5>
          <h5 class="heading-6">detroit, mi, us</h5>
        </div>
      </div>
      <div class="tour-image position-relative overflow-hidden" style="height: 150px">
        <img
          class="w-100"
          style="object-fit: cover; z-index: 0"
          src="../../assets/images/tour-showcase.jpg"
          alt="Tour tickets"
        />
        <div
          class="position-absolute w-100 p-2 text-center"
          style="right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7)"
        >
          <span
            class="text-light text-uppercase spacing-2 text-center"
            style="letter-spacing: 0.2rem; font-family: Myriad Condensed"
            >get tickets</span
          >
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between" style="gap: 10px">
      <div class="tour-info d-flex flex-column justify-content-between">
        <div>
          <h4 class="heading-4 text-left">summer love tour 2019</h4>
          <h4 class="heading-4 text-left">february 20, 2019</h4>
        </div>
        <div>
          <h5 class="heading-6">st.andrew's hall</h5>
          <h5 class="heading-6">detroit, mi, us</h5>
        </div>
      </div>
      <div class="tour-image position-relative overflow-hidden" style="height: 150px">
        <img
          class="w-100"
          style="object-fit: cover; z-index: 0"
          src="../../assets/images/tour-showcase.jpg"
          alt="Tour tickets"
        />
        <div
          class="position-absolute w-100 p-2 text-center"
          style="right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7)"
        >
          <span
            class="text-light text-uppercase spacing-2 text-center"
            style="letter-spacing: 0.2rem; font-family: Myriad Condensed"
            >get tickets</span
          >
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between" style="gap: 10px">
      <div class="tour-info d-flex flex-column justify-content-between">
        <div>
          <h4 class="heading-4 text-left">summer love tour 2019</h4>
          <h4 class="heading-4 text-left">february 20, 2019</h4>
        </div>
        <div>
          <h5 class="heading-6">st.andrew's hall</h5>
          <h5 class="heading-6">detroit, mi, us</h5>
        </div>
      </div>
      <div class="tour-image position-relative overflow-hidden" style="height: 150px">
        <img
          class="w-100"
          style="object-fit: cover; z-index: 0"
          src="../../assets/images/tour-showcase.jpg"
          alt="Tour tickets"
        />
        <div
          class="position-absolute w-100 p-2 text-center"
          style="right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7)"
        >
          <span
            class="text-light text-uppercase spacing-2 text-center"
            style="letter-spacing: 0.2rem; font-family: Myriad Condensed"
            >get tickets</span
          >
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between" style="gap: 10px">
      <div class="tour-info d-flex flex-column justify-content-between">
        <div>
          <h4 class="heading-4 text-left">summer love tour 2019</h4>
          <h4 class="heading-4 text-left">february 20, 2019</h4>
        </div>
        <div>
          <h5 class="heading-6">st.andrew's hall</h5>
          <h5 class="heading-6">detroit, mi, us</h5>
        </div>
      </div>
      <div class="tour-image position-relative overflow-hidden" style="height: 150px">
        <img
          class="w-100"
          style="object-fit: cover; z-index: 0"
          src="../../assets/images/tour-showcase.jpg"
          alt="Tour tickets"
        />
        <div
          class="position-absolute w-100 p-2 text-center"
          style="right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7)"
        >
          <span
            class="text-light text-uppercase spacing-2 text-center"
            style="letter-spacing: 0.2rem; font-family: Myriad Condensed"
            >get tickets</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
