@font-face {
  font-family: "Myriad Regular";
  src: url("../assets/fonts/myriad-pro/regular.woff") format("woff");
}

@font-face {
  font-family: "Myriad Semibold";
  src: url("../assets/fonts/myriad-pro/semibold.woff") format("woff");
}

@font-face {
  font-family: "Myriad Condensed";
  src: url("../assets/fonts/myriad-pro/condensed.woff") format("woff");
}

@font-face {
  font-family: "Moonshiner Regular";
  src: url("../assets/fonts/moonshiner/regular.woff") format("woff");
}

@font-face {
  font-family: "Moonshiner RegularLines";
  src: url("../assets/fonts/moonshiner/regularlines.woff") format("woff");
}

@font-face {
  font-family: "Moonshiner Oblique";
  src: url("../assets/fonts/moonshiner/oblique.woff") format("woff");
}

@font-face {
  font-family: "FjallaOne Regular";
  src: url("../assets/fonts/fjalla-one/regular.woff") format("woff");
}
