input.signup {
  font-family: "Moonshiner Condensed";
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  color: black;
  padding: 15px;
  background: rgb(54, 54, 54);
  border: none;
  border-radius: 10px;
  text-align: center;
}
