.hero {
  &__logo {
    font-family: "Myriad Semibold", sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.9rem;
    color: white;

    .logo--i {
      display: inline-block;

      svg {
        top: -15px;
        left: -14px;
        font-weight: normal;
        padding: 2px;
      }
    }
  }

  #hero-social {
    opacity: 0;
  }
}

.blur {
  width: 100vh;
  margin-left: -10%;
  height: 200px;
  background-color: #030000;
  position: absolute;
  bottom: -150px;
  filter: blur(40px);
  z-index: 999;
}

@media screen and (min-width: 300px) {
  .hero {
    height: 40vh;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 30vh;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 90vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 100vh;
  }
}
