.hero {
  height: 100vh;
  &__logo {
    font-family: "Myriad Semibold", sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.9rem;
    color: white;

    .logo--i {
      display: inline-block;

      svg {
        top: -15px;
        left: -14px;
        font-weight: normal;
        padding: 2px;
      }
    }
  }
}

.blur {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #030000;
  bottom: -120px;
  right: 0px;
  filter: blur(40px);
  opacity: 1;
  z-index: 999;
}

// @media screen and (min-width: 300px) {
//   .hero {
//     height: 40vh;
//   }
// }

// @media screen and (min-width: 768px) {
//   .hero {
//     height: 50vh;
//   }
// }

@media screen and (min-width: 1280px) {
  .hero {
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  #hero-logo {
    margin-top: 0px;
  }
}
