.hero {
  height: 100vh;
  &__logo {
    font-family: "Myriad Semibold", sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.9rem;
    color: white;
    margin-top: 0px;

    .logo--i {
      display: inline-block;

      svg {
        top: -15px;
        left: -14px;
        font-weight: normal;
        padding: 2px;
      }
    }
  }
}

.blur {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #030000;
  bottom: -120px;
  right: 0px;
  filter: blur(40px);
  opacity: 1;
  z-index: 999;
}

@media (min-width: 1024px) and (max-width: 1400px) {
  #hero-logo {
    margin-top: 70px;
  }
}
