.songs {
  .song {
    color: white;
    cursor: pointer;

    &:hover {
      background: $gradient-1;
    }
  }

  .current-song-active {
    background: $gradient-1;
  }
}

@media screen and (min-width: 1280px) {
  .highlights {
    margin-top: 5vh;
  }
}
