.socials {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  .social {
    gap: 25px;
    list-style-type: none;

    &-link {
      color: white;

      &.extended {
        border: 2px solid white;
        border-radius: 100px;
        display: flex;
        width: 35px;
        height: 35px;
      }

      .social-icon {
        margin: auto;
      }

      &:hover {
        &.extended {
          border-color: $primary;
        }
        .social-icon {
          color: $primary;
        }
      }
    }
  }
}
