.socials {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  opacity: 1;
  .social {
    list-style-type: none;
    margin: 0 10px;
    &-link {
      color: white;

      &.extended {
        border: 2px solid white;
        border-radius: 100px;
        display: flex;
        width: 35px;
        height: 35px;
      }

      .social-icon {
        margin: auto;
      }

      &:hover {
        &.extended {
          border-color: $primary;
        }
        .social-icon {
          color: $primary;
        }
      }
    }
  }
}

.socials-small {
  display: block;
  margin-top: 15px;

  .social {
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
