// vendors
@import "./styles/bootstrap.scss";
@import "./styles/carousel-item.scss";
@import "./styles/carousel-indicators.scss";

// globals
@import "./styles/globals.scss";

//fonts
@import "./styles/custom-fonts.css";

// headings
@import "./styles/heading-2.scss";
@import "./styles/heading-3.scss";
@import "./styles/heading-4.scss";
@import "./styles/heading-5.scss";
@import "./styles/heading-6.scss";

// buttons
@import "./styles/button.scss";

// forms
@import "./styles/form.scss";

// social icons
@import "./styles/social-icons.scss";

// partials
@import "./styles/hero-section.scss";
@import "./styles/highlights-section.scss";
@import "./styles/tour-section.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Myriad Regular", sans-serif;
}
